.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-ia {
    background-color: #091F2C;
    padding: 20px;
}

.box-ia h2 a {
    font-weight: bold;
    color: white;
    font-size: 25px;
    text-decoration: none;
}
.box-ia h2 a:hover {
    text-decoration: underline;
}
.box-ia p {
    font-size: 20px;
    font-weight: 400;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        gap: 15px;
    }
    
    .box-ia {
        padding: 15px;
    }
    
    .box-ia h2 a {
        font-size: 22px;
    }
    
    .box-ia p {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .container {
        gap: 10px;
    }
    
    .box-ia {
        padding: 12px;
    }
    
    .box-ia h2 a {
        font-size: 20px;
    }
    
    .box-ia p {
        font-size: 16px;
    }
}